<%- include ../partials/header %> <%- include ../partials/categories-navbar %>

        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" style="box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 0 solid rgba(0,0,0,.125);
                    border-radius: 1rem;">
                        <div class="card-body">
                            <div class="invoice-title">
                                <h4 class="float-right font-size-15">Invoice #<%= invoiceno %> <span
                                            class="badge bg-success font-size-12 ms-2 text-light">Paid</span></h4>
                                <div class="mb-4">
                                    <img class="logo-img img-fluid" src="/images/shop-icon.png" alt="logo" />
                                </div>
                            </div>

                            <hr class="my-4">

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="text-muted">
                                        <h5 class="font-size-16 mb-3">Billed To:</h5>
                                        <h5 class="font-size-15 mb-2">
                                            <%= order.user.username %>
                                        </h5>
                                        <p class="mb-1">
                                            <%= order.address %>
                                        </p>
                                        <p class="mb-1">
                                            <%= order.user.email %>
                                        </p>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-sm-6">
                                    <div class="text-muted text-sm-right">
                                        <div>
                                            <h5 class="font-size-15 mb-1">Invoice No:</h5>
                                            <p>#<%= invoiceno %>
                                            </p>
                                        </div>
                                        <div class="mt-4">
                                            <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                                            <p>
                                                <%= invoiceDate %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <div class="py-2">
                                <h5 class="font-size-15">Order Summary</h5>

                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap table-centered mb-0">
                                        <thead>
                                            <tr>
                                                <th style="width: 70px;">No.</th>
                                                <th>Item</th>
                                                <th>Price</th>
                                                <th>Tax (Per Piece)</th>
                                                <th>Quantity</th>
                                                <th class="text-right" style="width: 120px;">Total</th>
                                            </tr>
                                        </thead><!-- end thead -->
                                        <tbody>
                                            <% for(let i=1;i<=order.cart.items.length ;i++){ %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= i %>.
                                                    </th>
                                                    <td>
                                                        <div>
                                                            <h5 class="text-truncate font-size-14 mb-1">
                                                                <%= order.cart.items[i-1].title %>
                                                            </h5>
                                                            <p class="text-muted mb-0">Product No: <%=
                                                                    order.cart.items[i-1].productCode %>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td>₹ <%= (order.cart.items[i-1].ogprice).toLocaleString() %>
                                                    </td>
                                                    <td >
                                                        <p class="mb-0">₹ <%= order.cart.items[i-1].fixTax %> + ₹ <%=
                                                                    order.cart.items[i-1].varTax %>
                                                        </p>
                                                        <p class="text-muted mb-0" style="font-size:13px;">
                                                        <% if(order.cart.items[i-1].type){ %>
                                                            Tax PC: ₹ <%= order.cart.items[i-1].fixTax %>
                                                                <br>
                                                            <% if(order.cart.items[i-1].ogprice>1000 &&
                                                                order.cart.items[i-1].ogprice<=5000){%>
                                                                Tax PA: ( 12% ): ₹ <%=
                                                                    order.cart.items[i-1].varTax %>

                                                            <%} else {%>
                                                                Tax PB ( 18% ): ₹ <%=
                                                                    order.cart.items[i-1].varTax %>
                                                                    <% } %>
                                                        <%  } else { %> Tax SC: ₹ <%= order.cart.items[i-1].fixTax %>
                                                        <br>
                                                            <% if(order.cart.items[i-1].ogprice>1000 &&
                                                                order.cart.items[i-1].ogprice<=8000){%>
                                                                    Tax SA: ( 10% ): ₹ <%=
                                                                        order.cart.items[i-1].varTax %>

                                                            <%} else {%>
                                                                Tax SB: ( 15% ): ₹ <%=
                                                                    order.cart.items[i-1].varTax %>
                                                                <% }} %>

                                                        </p>
                                                        </td>
                                                    <td>
                                                        <%= order.cart.items[i-1].qty %>
                                                    </td>
                                                    <td class="text-right">₹ <%=
                                                            (order.cart.items[i-1].price).toLocaleString() %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <!-- end tr -->
                                                    <tr>
                                                        <th scope="row" colspan="5" class="border-0 text-right"><h4>Total:</h4> 
                                                        </th>
                                                        <td class="border-0 text-right">
                                                            <h4 class="m-0 fw-semibold">₹ <%=
                                                                    (order.cart.totalCost).toLocaleString() %>
                                                            </h4>
                                                        </td>
                                                    </tr>
                                                    <!-- end tr -->
                                        </tbody><!-- end tbody -->
                                    </table><!-- end table -->
                                </div><!-- end table responsive -->
                                <div class="d-print-none mt-4">
                                    <div class="float-right">
                                        <button class="btn btn-primary w-lg" onclick="window.print()"><i class="fa fa-solid fa-print"></i></button>
                                        <a href="/user/profile" class="btn btn-danger w-md">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
        <%- include ../partials/footer %>